In [1]:
# https://www.kaggle.com/competitions/titanic/data?select=train.csv

import pandas as pd

data_df = pd.read_csv('./train.csv')

In [2]:
data_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
data_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
# cabinは削除
# age, ebarkedは行を削除

data_df = data_df.drop('Cabin', axis=1)
data_df = data_df.dropna(subset=['Age', 'Embarked'])

In [7]:
data_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [9]:
# 無関係な列の削除、カテゴリ変数のダミー変数化

data_df = data_df.drop(['PassengerId', 'Name', 'Ticket'], axis=1)

cat_col = ['Sex', 'Pclass', 'Embarked']
data_df = pd.get_dummies(data_df, columns=cat_col)
data_df.dtypes

Survived        int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Sex_female      uint8
Sex_male        uint8
Pclass_1        uint8
Pclass_2        uint8
Pclass_3        uint8
Embarked_C      uint8
Embarked_Q      uint8
Embarked_S      uint8
dtype: object

In [17]:
# 8:2でデータを分割
!pip install scikit-learn

zsh:1: /Users/rtr-x8/Library/Python/3.8/bin/pip: bad interpreter: /Applications/Xcode.app/Contents/Developer/usr/bin/python3: no such file or directory
Requirement already satisfied: scikit-learn in /Users/rtr-x8/opt/anaconda3/lib/python3.9/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/rtr-x8/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/rtr-x8/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in /Users/rtr-x8/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/rtr-x8/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.9.1)

In [20]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'